antlr4-python3-runtime==4.7.1
configparser==5.3.0
contourpy==1.0.7
cycler==0.11.0
extras==1.0.0
fixtures==4.0.1
fonttools==4.38.0
gitdb==4.0.10
GitPython==3.1.30
kiwisolver==1.4.4
matplotlib==3.6.3
mpmath==1.2.1
networkx==3.0
numpy==1.24.1
packaging==23.0
pandas==1.5.3
pbr==5.11.1
Pillow==9.4.0
pyg4ometry==1.0.4
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
scipy==1.10.0
six==1.16.0
smmap==5.0.0
sympy==1.11.1
testtools==2.5.0
vtk==9.2.5
